  <url>
    <loc>{{ site.url }}{{ site.baseurl }}{{ include.url }}</loc>{% if include.date %}
    <lastmod>{{ include.date }}</lastmod>{% endif %}{% if include.url contains "artist" %}{% if include.url.size > 9 %}
    <priority>0.7</priority>{% else %}<priority>0.8</priority>{% endif %}{% endif %}{% if include.url.size == 1 %}
    <priority>1.0</priority>{% endif %}{% if include.url contains "info" %}
    <priority>0.9</priority>{% endif %}
  </url>
